/* ---------------------------------------------
    Reset
   --------------------------------------------- */
*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------------------------------------
    Page
   --------------------------------------------- */
body {
    background: url(../img/bg.png) repeat;
}

.container {
    width: 960px;
    height: 612px;
    margin: 25px auto 0;
}

/* ---------------------------------------------
    Grid
   --------------------------------------------- */
.grid-container {
    width: 612px;
    height: 612px;
    border: 2px solid #ccc;
    padding: 4px;
    float: right;
}

.row {
    clear: both;
}

.col {
    width: 30px;
    height: 30px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    float: left;
    transition: all .1s ease;
    cursor: pointer;
}
.col:first-child {
    border-left: 1px solid #ccc;
}
.row:first-child .col {
    border-top: 1px solid #ccc;
}

.col:hover  { background: #27ae60; }
.live       { background: #2980b9; }
.live:hover { background: #c0392b; }

/* ---------------------------------------------
    Info
   --------------------------------------------- */
.info {
    float: left;
    width: 340px;
    font-family: 'Source Sans Pro', sans-serif;
}

.info h1 {
    font-family: 'Bungee Shade', cursive;
    font-size: 40px;
    line-height: 1;
    color: #7f8c8d;
    padding-bottom: 25px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.info h1 span {
    margin: 0 -10px;
}

.info p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #7f8c8d;
}
.info p a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid;
    padding-bottom: 2px;
}
.info p a:hover {
    color: #ccc;
}

.controls {
    margin: 40px 0;
}
.controls .btn {
    color: #7f8c8d;
    width: 80px;
    border-radius: 2px;
    border: 1px solid #7f8c8d;
    background: none;
    padding: 10px 0;
    margin-right: 5px;
    transition: all .1s ease;
    text-align: center;
    font: inherit;
    outline: none;
}
.controls .btn:hover:not(.disabled) {
    background: #7f8c8d;
    color: white;
    cursor: pointer;
}
.controls .btn.disabled {
    border-color: #ccc;
    color: #ccc;
}
